<%= render 'navbar' %>
<%= render 'banner', flat: @flat %>

<div class="container neri d-flex justify-content-center">
  <div class="text-area lucas">
    <div class="card w-75">
      <div class="card-body">
        <h5 class="card-title"><strong><%= @flat.name %></strong></h5>
        <p class="card-text"><%= @flat.address %></p>
      </div>
    </div>

    <div class="card w-75">
      <div class="card-body">
        <h5 class="card-title">A bit more about this flat...</h5>
        <p class="card-text"><%= @flat.description %></p>
      </div>
    </div>
  </div>

  <div class="sidebar-details">
    <%= render 'sidebar', flat: @flat %>
  </div>
</div>
